@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Scrolling Text Animation Start */

* {
    font-size: 30px;
    font-family: "Inter" , sans-serif;
}

.animationOne {
    display: flex;
    white-space: pre;

}

@keyframes tickerAnimation {
    from {opacity: 100;}
    to {opacity: 0;}
}


.tickerBar {
    border-block: 0px;
    border-right: 0px;
    border-left: 1px;
    height: 65px;
    align-self: center;
    justify-self: center;
    border-color: black;
    border-style: solid;
    animation-name: tickerAnimation;
    animation-duration: 0.1s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

/* Fade In Animation Start */

/* @keyframes fadeIn {
    from {opacity: 0;};
    to {opacity: 100;};
}

body {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease-in;
} */

/* Slide Fade Animation Start */
/* Adjust Margins as Needed */

@keyframes slideFade {
    0% {
        margin-top: 20px;
        opacity: 0;
    }
    100% {
        margin-top: 0px;
        opacity: 100%;
    }

    
}

body {
    animation-name: slideFade;
    animation-duration: 3s;
}